<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>


  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Gerónimo Mercante
          </h6>
          <p>
            Blog destinado a la entrega del trabajo final, primera parte de la diplomatura Django.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Productos
          </h6>
          <p>
            <a href="#!" class="text-reset">Pollo</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Carnes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Postres</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Pastas</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Utilidades
          </h6>
          <p>
            <a href="#!" class="text-reset">Precios</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Configuración</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Recetas</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ayuda</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home"></i> Norberto de la Riestra, 25 de Mayo, Buenos Aires, Argentina.</p>
          <p>
            <i class="fas fa-envelope"></i>
            geromercante@gmail.com
          </p>
          <p><i class="fas fa-phone"></i> + 54 2345 222222</p>
          <p><i class="fas fa-print"></i> + 54 2345 333333</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="fw-bold text-success" href="#">Trabajo practico final Django</a>
  </div>

</footer>
